/* reset */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

/* full page */
.auth-container{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#ffe6ef;   /* light pink */
}

/* form card */
.auth-card{
  width:350px;
  padding:30px;

  background:white;

  border-radius:10px;

  box-shadow:0 6px 20px rgba(0,0,0,0.15);

  display:flex;
  flex-direction:column;
  gap:15px;
}

/* title */
.auth-card h2{
  text-align:center;
  color:#d63384;
  margin-bottom:10px;
}

/* input fields */
.auth-card input{
  padding:10px;
  border:1px solid #f5a3c7;
  border-radius:6px;
  font-size:14px;
  outline:none;
}

/* input focus */
.auth-card input:focus{
  border-color:#ff69b4;
}

/* button */
.auth-card button{
  padding:10px;
  border:none;
  border-radius:6px;

  background:#ff69b4;
  color:white;

  font-weight:bold;
  cursor:pointer;
}

/* button hover */
.auth-card button:hover{
  background:#ff4da6;
}

/* bottom text */
.auth-switch{
  text-align:center;
  font-size:14px;
  color:#c2185b;
  cursor:pointer;
}